.vuepress-theme-blog__global-layout {
  position: relative;
}
.content-wrapper {
  position: relative;
  .content-info {
    position: absolute;
    top: 100px;
    left: -280px;;
    width: 250px;
  }
}

.site-info {
  .avatar-row {
    display: flex;
    align-content: center;

    .avatar {
      margin-right: 10px;

      img {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        display: block;
      }
    }

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .sub-title {
        opacity: 0.5;
        margin-top: 5px;
      }
    }
  }
  .description-row {
    margin-top: 10px;
    white-space: pre-line;
  }
}

#header {
  z-index: 12;
  position: fixed;
  top: 0;
  width: 100vw;
  height: $headerHeight;
  box-sizing: border-box;
  background-color: $headerBgColor;
  padding: 20px 32px 20px;
  margin: auto;
  box-shadow: 0 5px 20px rgba(0,0,0,0.03), 0 6px 6px rgba(0,0,0,0.05);
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &:hover {
    box-shadow: 0 5px 20px rgba(0,0,0,0.08), 0 6px 6px rgba(0,0,0,0.1);
  }
}
.header-wrapper {
  display: flex;
  line-height: 40px;
  height: 40px;

  .title {
    /* flex 0 0 200px */
    font-size: 30px;
    margin: 0;
    letter-spacing: 2px;
    display: block;
    text-transform: uppercase;
    a {
      color: $darkTextColor;
      font-weight: bold;
      font-family: PT Serif, Serif;
      text-decoration: none;
    }
  }
  .header-right-wrap {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .nav {
      flex: 0 0 auto;
      display: flex;
      margin: 0;
      .nav-item {
        margin-left: 20px;
        a {
          font-family: PT Serif, Serif;
          font-size: 20px;
          text-decoration: none;
          transition: color 0.3s;
        }
      }
    }
    .search-box {
      font-family: PT Serif, Serif;
      margin-left: 20px;
      input {
        border-radius: 5px;
        transition: all 0.5s;
        border: 1px solid #cecece;
        &:hover {
          border: 1px solid $accentColor;
          box-shadow: 0 0 5px $accentColor;
        }
      }
      .suggestions {
        border: 1px solid $darkBorderColor;
        top: 40px;
        right: 0;
        a {
          color: $darkTextColor;
          text-decoration: none;
          &.focused {
            color: $accentColor;
          }
        }
      }
    }
  }
}
@media (max-width: $MQMobile) {
  #header {
    display: none;
  }
  .header-wrapper {
    flex-direction: column;
    .header-right-wrap {
      display: none;
    }
  }
}


.mobile-header-bar {
  font-family: PT Serif, Serif;
  z-index: 12;
  position: fixed;
  top: 0;
  width: 100vw;
  box-sizing: border-box;
  background-color: $headerBgColor;
  margin: auto;
  box-shadow: 0 5px 20px rgba(0,0,0,0.03), 0 6px 6px rgba(0,0,0,0.05);
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}
#mobile-header .mobile-header-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2em;
}
#mobile-header .mobile-header-title .mobile-home-link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: PT Serif, Serif;
  color: #222;
  font-weight: bold;
}
.mobile-nav-item {
  padding: 10px 0;
  list-style: none;
}
.mobile-nav-item a {
  text-decoration: none;
}
.menu-divider {
  margin: 0;
}
.mobile-menu-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s ease;
  background-color: $headerBgColor;
}
.mobile-menu-wrapper.open {
  max-height: 450px;
  transition: 0.3s ease;
}
@media (min-width: $MQMobile) {
  #mobile-header {
    display: none;
  }
}

.nav-link {
  color: $darkTextColor;
}
.nav-link:hover, .nav-link.router-link-active {
  color: $accentColor;
}