/*
 * Copyright ©️ 2020 GaltProject Society Construction and Terraforming Company
 * (Founded by [Nikolai Popeka](https://github.com/npopeka)
 *
 * Copyright ©️ 2020 Galt•Core Blockchain Company
 * (Founded by [Nikolai Popeka](https://github.com/npopeka) by
 * [Basic Agreement](ipfs/QmaCiXUmSrP16Gz8Jdzq6AJESY1EAANmmwha15uR3c1bsS)).
 */

.modal-open {
    overflow: hidden;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    opacity: 0.8;
    filter: alpha(opacity=50);
}


.modal {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    color: white;
    a {
        color: #1abc9c;
    }
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.modal-content {
    position: relative;
    background: transparent;
    //border: 1px solid #999;
    //border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    background-clip: padding-box;
    outline: 0;
    template {
        display: block;
    }
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #303030;
}

.modal-header:before,
.modal-header:after {
    content: " ";
    display: table;
}

.modal-header:after {
    clear: both;
}

.modal-header .close {
    float: right;
}

.modal-title {
    margin: 0;
    line-height: 1.428571428571429;
}

.modal-body {
    position: relative;
    max-height: calc(100vh - 60px);
    //padding: 15px;
    img {
        max-width: 100%;
        max-height: inherit;
    }
    [slot="header"] {
        position: relative;
        .md-icon-button {
            position: absolute;
            top: -30px;
            right: -30px;
            background: transparent;
            border: none;
            color: white;
            font-size: 25px;
        }
    }
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #303030;
}

.modal-footer:before,
.modal-footer:after {
    content: " ";
    display: table;
}

.modal-footer:after {
    clear: both;
}

.modal-footer .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0;
}

.modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
    margin-left: 0;
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

@media (min-width: 768px) {
    .modal-dialog {
        //width: 700px;
        margin: 30px auto;
        display: flex;
        justify-content: center;
    }

    .modal-content {
        box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    }
}

.modal-sm {
    width: 300px;
}

@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
}
