@import "vars";

html, body {
  padding: 0;
  margin: 0;
}
#app {
  display: block;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: $textColor;
  background-color: $bgColor;
}

.content-wrapper {
  position: relative;
  padding: 10px 15px 80px;
  min-height: calc(100vh - 80px - 60px - 160px);
  max-width: $contentWidth;
  margin: 0 auto;
  .content-info {
    position: absolute;
    top: 100px;
    left: -280px;;
    width: 250px;
  }
}

.content-info {
  .site-info {
    .avatar-row {
      display: flex;
      align-content: center;

      .avatar {
        margin-right: 10px;

        img {
          width: 80px;
          height: 80px;
          border-radius: 100%;
          display: block;
        }
      }

      .title {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .sub-title {
          opacity: 0.5;
          margin-top: 5px;
        }
      }
    }
    .description-row {
      margin-top: 10px;
      white-space: pre-line;
    }
  }

  .powered {
    opacity: 0.4;
    margin-top: 30px;
    *, a {
      color: black;
    }
  }
}

.content {
  &.custom {
    padding: 0;
    margin: 0;
    img {
      max-width: 100%;
    }
  }
  &:not(.custom) {
    a:hover {
      text-decoration: underline;
    }
    p.demo {
      padding: 1rem 1.5rem;
      border: 1px solid #ddd;
      border-radius: 4px;
    }
    img {
      max-width: 100%;
    }

    & > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
      margin-top: calc(0.5rem - #{$headerHeight});
      padding-top: calc(#{$headerHeight} + 1rem);
      margin-bottom: 0;
    }
  }
}
a {
  font-weight: 500;
  color: $accentColor;
  text-decoration: underline;
  &:hover {
    color: darken($accentColor, 20%);
  }
}
p a code {
  font-weight: 400;
  color: $accentColor;
}
kbd {
  background: #eee;
  border: solid 0.15rem #ddd;
  border-bottom: solid 0.25rem #ddd;
  border-radius: 0.15rem;
  padding: 0 0.15em;
}
blockquote {
  font-size: 0.9rem;
  color: darken($accentColor, 50%);
  border-left: 3px solid $accentColor;
  margin: 0.5rem 0;
  padding: 0.25rem 0 0.25rem 1rem;
}
blockquote > p {
  margin: 0;
}
ul, ol {
  padding-left: 1.2em;
}
strong {
  font-weight: 600;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.25;
  font-family: PT Serif, Serif;
}
h1:hover .header-anchor, h2:hover .header-anchor, h3:hover .header-anchor, h4:hover .header-anchor, h5:hover .header-anchor, h6:hover .header-anchor {
  opacity: 1;
}
h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 1.65rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid $borderColor;
}
h3 {
  font-size: 1.35rem;
}
code, kbd, .line-number {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
p, ul, ol {
  line-height: 1.7;
}
hr {
  border: 0;
  border-top: 1px solid $borderColor;
}
table {
  border-collapse: collapse;
  margin: 1rem 0;
  display: block;
  overflow-x: auto;
}
tr {
  border-top: 1px solid #dfe2e5;
}
tr:nth-child(2n) {
  background-color: #f6f8fa;
}
th, td {
  border: 1px solid #dfe2e5;
  padding: 0.6em 1em;
}
@media (max-width: $MQMobile) {
  .content-wrapper {
    padding: 100px 15px 20px 15px;
    min-height: calc(100vh - 20px - 60px - 100px);
  }
}

.tabs {
  background: white;
  padding: 5px;
  display: flex;
  margin-bottom: 30px;
  & > a {
    display: block;
    padding: 10px;
    position: relative;
    text-decoration: none;
    &:first-child {
      padding-left: 0;
    }
    &:after {
      content: " ";
      position: absolute;
      width: 20px;
      height: 2px;
      background: #000;
      bottom: 0;
      left: 6px;
    }
  }
}

//@import "wrapper";
@import "baseList";
@import "post";
//@import "sw-popup";
//@import "blockTags";
//@import "feed";
//@import "toc";

@import "adaptive";

@import "youtubeLike";
