node_modules
.docker-data
.DS_Store
.env
.git
.github
.idea
*.log
*.sqlite
*.zip
docs
coverage
.nyc_output
frontend/.parcel-cache
app/modules/socNetImport/config
test/resources
test/.geesome-data
test/.geesome-frontend
test/.geesome-test-output
test/.ipfs
test/.ipfs-data
test/.postgres-data
