@import "vars";

.wrapper {
  max-width: $contentWidth;
  margin: 0 auto;
  background-color: $bgColor;
}

@media (min-width: $MQNarrow) {
  .wrapper {
    padding: 2rem;
  }
}
@media (max-width: $MQMobileNarrow) {
  .wrapper {
    padding: 1.5rem;
  }
}