.md-xsmall-show {
  display: none;
}
@media (max-width: 600px) {
  .md-xsmall-show {
    display: block;
  }
  .md-app-toolbar {
    min-height: 80px;
  }
  
  .md-app-drawer.md-persistent-mini.md-theme-default {
    position: absolute;
    width: 280px;
    max-width: 280px;
    top: 0;
    bottom: auto;
    &:not(.md-active) {
      width: 0 !important;
      top: 0;
    }
    &.md-active {
      bottom: 0;
    }
    .drawer-header {
      padding: 10px;
    }
    
    .close-button {
      position: absolute;
      top: 0;
      right: 0;
    }

    .drawer-content {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
  
  #profile-page {
    .profile-image {
      display: flex;
      justify-content: center;
      
      img {
        width: 100px;
      }
    }
  }
  
  .container-page {
    padding: 10px 20px 0;
  }

  .wide-content {
    width: 100%;
  }
  
  .faq-block {
    padding: 20px;
  }
}
