/*!
 * Copyright ©️ 2018-2020 Galt•Project Society Construction and Terraforming Company
 * (Founded by [Nikolai Popeka](https://github.com/npopeka)
 *
 * Copyright ©️ 2018-2020 Galt•Core Blockchain Company
 * (Founded by [Nikolai Popeka](https://github.com/npopeka) by
 * [Basic Agreement](ipfs/QmaCiXUmSrP16Gz8Jdzq6AJESY1EAANmmwha15uR3c1bsS)).
 */

.md-xsmall-show {
  display: none;
}
@media (max-width: 600px) {
  .md-xsmall-show {
    display: block;
  }
  .md-app-toolbar {
    min-height: 80px;
  }
  
  .md-app-drawer.md-persistent-mini.md-theme-default {
    position: absolute;
    width: 280px;
    max-width: 280px;
    top: 0;
    bottom: auto;
    &:not(.md-active) {
      width: 0 !important;
      top: 0;
    }
    &.md-active {
      bottom: 0;
    }
    .drawer-header {
      padding: 10px;
      min-height: 100px;
    }
    
    .close-button {
      position: absolute;
      top: 0;
      right: 0;
    }

    .drawer-content {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
  
  #profile-page {
    .profile-image {
      display: flex;
      justify-content: center;
      
      img {
        width: 100px;
      }
    }
  }
  
  .container-page {
    padding: 10px 20px 0;
    width: auto;
  }

  .wide-content {
    width: 100%;
  }
  
  .faq-block {
    padding: 20px;
  }
  
  .group-item-card {
    .md-card-header {
      display: flex;
      padding: 10px;
      .group-item-image {
        &, img {
          border-radius: 100%;
          width: 70px;
          height: 70px;
        }
      }
      .group-item-description {
        margin-left: 15px;
      }
    }
  }
  
  .group-info-container {
    position: static;
    .group-info {
      width: 100%;
    }
    .md-card {
      position: relative;
      .md-card-actions {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
  
  .md-card.group-item-card {
    margin-bottom: 15px;
  }
  
  .post-card {
    p {
      margin: 0;
    }
    img {
      width: 100%;
    }
  }
}
