/*!
 * Copyright ©️ 2018-2020 Galt•Project Society Construction and Terraforming Company
 * (Founded by [Nikolai Popeka](https://github.com/npopeka)
 *
 * Copyright ©️ 2018-2020 Galt•Core Blockchain Company
 * (Founded by [Nikolai Popeka](https://github.com/npopeka) by
 * [Basic Agreement](ipfs/QmaCiXUmSrP16Gz8Jdzq6AJESY1EAANmmwha15uR3c1bsS)).
 */

@import 'node_modules/vue-material/dist/vue-material.min';

$fa-font-path: "../../node_modules/font-awesome/webfonts";
@import "node_modules/font-awesome/scss/solid";
@import "node_modules/font-awesome/scss/regular";
@import "node_modules/font-awesome/scss/brands";
@import "node_modules/font-awesome/scss/fontawesome";

$me-controls-path: "../../node_modules/mediaelement/build";
@import "node_modules/geesome-vue-components/src/styles/media-element";

@import 'node_modules/geesome-vue-components/src/styles/main-with-theme';
@import 'node_modules/geesome-vue-components/src/modals/AsyncModal/modal';

@import "chat";

.md-app-content {
  display: flex;
  flex-direction: column;
}
.md-icon-button .fas.md-icon {
  font-size: 22px !important;
}

a.md-icon-button .fas.md-icon {
  position: relative;
  left: 5px;
}

a.icon-link {
  display: inline-block;
  padding: 5px;
  text-align: center;
}

.huge-button {
  height: 100px;
  width: 99%;

  .md-button-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    & > * {
      margin: initial;
    }
  }
}

.tight-content {
  flex: initial;
  width: 625px;
  position: relative;
}

.wide-content {
  flex: initial;
  width: 1200px;
}

.group-info-container {
  position: absolute;
  top: 0;
  left: -350px;
}

.group-info {
  width: 300px;
}

.group-header {
  z-index: 10;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 200px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  .group-header-title {
    font-weight: 700;
    font-size: 22px;
  }

  .group-header-avatar {
    width: 80px;
    height: 80px;
    position: relative;
    top: 30px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 15%;
      border: 2px solid #424242;
    }
  }
}

.posts-list {
  margin-top: 30px;
}

.md-app-content {
  .new-post-card {
    margin-right: 0;
  }

  .post-card {
    margin-right: 0;
  }
}

.upload-content {
  .md-layout {
    justify-content: center;
    .md-layout-item {
      width: 33.3%;
      padding: 5px;
      .md-button {
        margin: 0;
      }
    }
  }
  .text-editor .quillWrapper {
    background: #19161C;
    .ql-snow .ql-stroke {
      stroke: #E0E0E0;
    }
    .ql-snow .ql-picker-label:before {
      color: #E0E0E0;
    }
    .ql-editor {
      background: #EEEEEE;
      color: black;
    }
  }
}

.publish-post-container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0;
}

.quillWrapper.disabled {
  position: relative;
  &:after {
    content: " ";
    position: absolute;
    background: gray;
    opacity: 0.2;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.md-field {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
  }

  input:-internal-autofill-previewed,
  input:-internal-autofill-selected,
  textarea:-internal-autofill-previewed,
  textarea:-internal-autofill-selected,
  select:-internal-autofill-previewed,
  select:-internal-autofill-selected {
    background-color: transparent;
  }
}

//.md-field.md-theme-default.md-has-value .md-input {
//  -webkit-text-fill-color: black;
//}

.file-catalog {
  background: #19161C;
  //background-color: #eeeeee;
  padding: 10px;
  .file-catalog-breadcrumbs {
    font-weight: bold;
    margin-bottom: 20px;
  }
  .md-subhead {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
  }
  .file-catalog-files, .file-catalog-folders {
    .file-item, .folder-item {
      padding: 10px;
      cursor: pointer;
      display: flex;
      align-items: stretch;
      //height: 100%;
      min-height: 65px;
      & > .file-item-control {
        width: 27%;
      }
      & > .file-item-content {
        width: 73%;
        padding-left: 5px;
      }
      .file-checkbox-container, .file-name-container {
        &, &:before {
          background: #424242;
        }
        &:hover {
          &, &:before {
            background: #616161;
          }
        }
      }
      .md-elevation-3 {
        //height: 100%;
        min-height: 45px;
      }
      .file-manifest-container {
        font-size: 11px;
        padding: 5px;
        background: #2f2f2f;
        .icon-link {
          padding: 0;
          position: relative;
          bottom: 2px;
          right: 3px;
        }
      }
    }

    .folder-item .file-name-container {
      position: relative;
      &:before {
        content: " ";
        position: absolute;
        width: 46%;
        height: 11px;
        top: -6px;
        left: 0;
        border-radius: 3px;
      }
    }

    .file-checkbox-container {
      display: flex;
      align-items: center;
      justify-content: center;
      .md-checkbox {
        margin: 0;
      }
    }
    .file-name-container {
      padding: 5px;
      line-height: 1.2;
      font-size: 13px;
    }
  }
}

.new-group-features-list {
  padding-left: 0;
  list-style-type: none;
  margin-left: 5px;
  li {
    margin-bottom: 20px;
    margin-left: 0;
    & > span {
      margin-left: 10px;
    }
  }
}

.container-page {    
  padding-top: 50px;
  width: 1200px;
  margin: 0 auto;
}

.margin-top {
  margin-top: 15px;
}
.margin-bottom {
  margin-bottom: 15px;
}

.link-with-icon {
  .md-icon {
    width: 10px;
    min-width: 10px;
    height: 10px;
    font-size: 10px !important;
    position: relative;
    bottom: 3px;
    margin-right: 3px;
  }
}

.file-catalog-header {
  margin: 15px;
  .link-with-icon {
    margin-left: 10px;
  }
}

.file-catalog-not-found {
  margin: 10px 15px;
}

.content-manifest-info-item {
  & > .md-layout > * {
    padding: 0 15px;
  }
  &.mini-manifest-info {
    font-size: 11px;
    line-height: 1.3;
    img {
      max-height: 150px;
    }
  }
}

.group-item-card {
  .md-card-header {
    padding-top: 10px;
    padding-bottom: 0;
    .md-title {
      font-size: 19px;
    }
  }
}

#joined-groups {
  .md-title {
    display: flex;
    align-items: center;
  }
}

.md-theme-default .md-subhead a:not(.md-button):not(.ignore-subhead) {
  color: #fff;
  text-decoration: none !important;
  &:hover {
    text-decoration: underline !important;
  }
}

.posts-pagination {
  margin: 15px 0;
}

@media (min-width: 1100px) {
  .large-modal .modal-dialog {
    width: 1000px;
  }
}

.input-absolute-container {
  z-index: 9999;
  position: absolute;

  &.autocomplete-container {
    z-index: 99999;
    .autocomplete-list {
      min-width: 150px;
      background: #39343e;

      .list-container {
        display: flex;
        flex-direction: column;
        & > a {
          padding: 10px;
        }
      }
      .search-container {
        padding: 10px;
        .md-field {
          margin-bottom: 0;
        }
      }
    }
  }
}

.custom-menu {
  .md-list-item-content {
    padding: 0;
    & > *, .md-button {
      margin: 0;
      width: 100%;
      .md-ripple {
        justify-content: flex-start;
      }
    }
  }
}


.logo img {
  width: 70px;
}


.md-app-drawer {
  position: relative;
  transition: width 300ms linear, width 300ms ease-out;
  max-width: 250px;
  .menu-button {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 15px;
  }
}

.md-app-scroller {
  padding: 0 !important;
}
.md-drawer.md-persistent-mini:not(.md-active) .md-toolbar {
  display: block;
}


.md-app-side-drawer {
  .md-app-drawer {
    &:not(.md-active) {
      top: 0;
    }
  }
  .md-list-item.sub-menu {
    .md-list-item-content {
      padding: 0 10px;
      justify-content: flex-start;
      min-height: 48px;
      .md-list {
        width: 100%;
      }
    }
  }
}

.md-app-drawer.md-permanent-clipped {
  position: absolute;
  z-index: 999;
}
.md-overlay {
  z-index: 990;
}

.md-button .fas.fa-pen.md-icon {
    width: 18px;
    min-width: 18px;
    height: 18px;
    font-size: 18px!important;
}

.profile-image {
  padding: 0 20px;
}

.static-site-manager {
  .properties {
    .separator {
      display: none;
    }
  }
}

.drawer-header {
  background: #19161C;
  position: relative;
  
  .profile {
    margin: 20px;
    margin-bottom: 5px;
    
    .profile-id {
      &, .md-icon-font {
        color: grey;
      }
    }
  }
  .avatar {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    &, img {
      border-radius: 100%;
    }
  }
  
  .server {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
  }
}

.md-avatar {
  img {
    width: 40px;
    min-width: 40px;
    height: 40px;
  }
}

.group-info {
  .md-card-header.md-card-header-flex {
    flex-direction: row-reverse;
    .md-title:first-child {
      font-size: 15px;
      line-height: 1;
      margin: 0;
      margin-bottom: 5px;
    }
    .md-subhead {
      font-size: 12px;
      line-height: 1.8;
      .icon-link {
        padding: 0;
      }
    }
    .md-card-media {
      margin-left: 0;
      margin-right: 16px;
      flex: initial;
      &, img {
        width: 60px;
        height: 60px;
        border-radius: 100%;
      }
    }
    .md-card-actions {
      padding-top: 0;
    }
  }
}

.file-name-container {
  word-break: break-all;
}
.ipld-item {
  display: flex;
  padding-left: 10px;
  & > div:first-child {
    margin-right: 10px;
    font-weight: bold;
  }
}
a.back {
  display: block;
  margin-bottom: 15px;
  text-decoration: none !important;
  &:hover {
    text-decoration: underline !important;
  }
}
@import "adaptive";
