<div>
    <md-progress-bar class="md-accent" md-mode="indeterminate" v-if="loading"></md-progress-bar>
    
    <div class="md-layout" v-if="manifestObj">
        <div :class="{'md-layout-item': true, 'md-size-30': !verticalMode, 'md-size-100': verticalMode}">
            <content-manifest-item :manifest="manifestObj" :preview-mode="true"></content-manifest-item>
        </div>
        <div :class="{'md-layout-item': true, 'md-size-70': !verticalMode, 'md-size-100': verticalMode}" style="position: relative;">
            <div>
                Type: {{manifestObj.mimeType}}<br>
                Size: {{manifestObj.size}} bytes<br>
                Ipfs hash: <pretty-hex :hex="manifestObj.content"></pretty-hex><br>
                Preview ipfs hash: <pretty-hex :hex="manifestObj.preview"></pretty-hex><br>
                <a :href="srcLink" @click.prevent="download">Download</a>
            </div>
            <md-button v-if="showCloseButton" class="md-accent md-icon-button" @click="$emit('close')" style="position: absolute; top: 0; right: 0;">
                <md-icon class="fas fa-times"></md-icon>
            </md-button>
        </div>
    </div>
</div>
