<div id="profile-page" class="container-page">
  <h3>User profile</h3>
  
  <md-card>
    <md-card-content>
      <div class="md-layout">
        <div class="md-layout-item md-size-20 md-small-size-100 profile-image">
          <div v-if="user.avatarImage">
            <content-manifest-item :manifest="user.avatarImage.manifestStorageId" :preview-mode="true"></content-manifest-item>
          </div>
          <img v-else src="assets/empty-profile.png">
        </div>
        <div class="md-layout-item md-size-80 md-small-size-100">
          
          <div class="properties">
            <div><label>Username:</label> <span>@{{user.name}}</span></div>
            <div><label>FullName:</label> <span>{{user.title}}</span></div>
            <div><label>Email:</label> <span>{{user.email}}</span></div>
          </div>
          
          <div v-if="currentUser.id === user.id">
            <md-button :to="{name: 'current-user-profile-edit'}" class="md-primary">
              <md-icon class="fas fa-pen"></md-icon>
              Edit profile
            </md-button>
            
            <h3>Api keys</h3>

            <md-table>
              <md-table-row>
                <md-table-head>Title</md-table-head>
                <md-table-head>Type</md-table-head>
                <md-table-head>Permissions</md-table-head>
                <md-table-head>Created at</md-table-head>
                <md-table-head>Expired on</md-table-head>
              </md-table-row>

              <md-table-row v-for="item in apiKeys">
                <md-table-cell>{{item.title}}</md-table-cell>
                <md-table-cell>{{item.type}}</md-table-cell>
                <md-table-cell>{{item.permissions}}</md-table-cell>
                <md-table-cell>{{item.createdAt}}</md-table-cell>
                <md-table-cell>{{item.expiredOn}}</md-table-cell>
              </md-table-row>
            </md-table>
          </div>
        </div>
      </div>
    </md-card-content>
  </md-card>
</div>
