<posts-container mode="tight">
    <div class="group-info-container">
        <group-info v-if="group" :group="group"></group-info>
    </div>
    
    <group-header v-if="group" :group="group"></group-header>

    <md-card class="new-post-card">
        <md-card-header>
            <div class="md-subhead" v-locale="localeKey + '.new_post'"></div>
        </md-card-header>

        <md-card-content>
            <upload-content></upload-content>
        </md-card-content>
    </md-card>
    
    <post-item v-for="(post, index) in posts" v-model="posts[index]"></post-item>
</posts-container>
