@import "vars";

@media (max-width: $MQMobileNarrow) {
  h1 {
    font-size: 1.9rem;
  }
  .content__default {
    div[class*="language-"] {
      margin: 0.85rem -1.5rem;
      border-radius: 0;
    }
  }
  .content-wrapper {
    padding: 15px 15px 20px;
    .content-info {
      position: static;
      margin-bottom: 20px;
    }
    .description-row {
      display: none;
    }
  }
}