.sticker {
  position: fixed;
}
.sticker.stick-float {
  top: auto;
  position: absolute;
}

.table-of-contents {
  display: none !important;
}
.vuepress-toc {
  position: fixed;
  display: none;
  max-height: 100vh;
  max-width: 220px;
  overflow-y: auto;
  padding-top: 5rem;
  top: 0;
  right: 10px;
  box-sizing: border-box;
  /* background: #fff;
   */
  z-index: 0;
}
.vuepress-toc .vuepress-toc-item {
  position: relative;
  padding: 0.1rem 0.6rem 0.1rem 1.5rem;
  line-height: 1.5rem;
  border-left: 1px solid rgba(0,0,0,0.08);
  overflow: hidden;
}
.vuepress-toc .vuepress-toc-item a {
  display: block;
  color: $textColor;
  width: 100%;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.vuepress-toc .vuepress-toc-item.active {
  border-left-color: $accentColor;
}
.vuepress-toc .vuepress-toc-item.active a {
  color: $accentColor;
}
.vuepress-toc .vuepress-toc-item:hover a {
  color: $accentColor;
}
.vuepress-toc .vuepress-toc-h3 a {
  padding-left: 1rem;
}
.vuepress-toc .vuepress-toc-h4 a {
  padding-left: 2rem;
}
.vuepress-toc .vuepress-toc-h5 a {
  padding-left: 3rem;
}
.vuepress-toc .vuepress-toc-h6 a {
  padding-left: 4rem;
}
@media (min-width: 1300px) {
  .vuepress-toc {
    display: block;
  }
}