<div class="upload-content">
    <div class="md-layout" v-if="!mode">
        <div class="md-layout-item">
            <md-button class="md-raised huge-button md-accent" @click="setMode('enter_text')">
                <md-icon class="fas fa-edit"></md-icon>

                <div>Enter Text</div>
            </md-button>
        </div>
        <div class="md-layout-item">
            <md-button class="md-raised huge-button md-accent" @click="setMode('upload_new')">
                <md-icon class="fas fa-upload"></md-icon>

                <div>Upload new</div>
            </md-button>
        </div>
        <div class="md-layout-item">
            <md-button class="md-raised huge-button md-accent" @click="setMode('choose_content')">
                <md-icon class="fas fa-cloud"></md-icon>

                <div>Choose uploaded</div>
            </md-button>
        </div>
    </div>
    
    <div v-if="mode === 'enter_text'" class="text-editor">
        <div>
            <vue-editor v-model="localValue" :disabled="saving" :class="{'disabled': saving}"></vue-editor>
        </div>

        <md-button class="md-accent" @click="setMode(null)" :disabled="saving">
            <md-icon class="fas fa-times"></md-icon> Cancel
        </md-button>

        
        <md-button class="md-raised md-accent" @click="saveText()" :disabled="saving">
            <md-icon class="fas fa-save"></md-icon> Save text
        </md-button>
    </div>

    <md-progress-bar class="md-accent" md-mode="indeterminate" v-if="saving"></md-progress-bar>
</div>
