<div style="height: 100%;">
    <modal ref="modal"></modal>
    <modal ref="sub_modal"></modal>

    <!--<wait-screen></wait-screen>-->

    <notifications :duration="7000" position="bottom right"></notifications>

    <md-app>
        <md-app-toolbar class="md-accent" md-elevation="0">
            <h3 class="md-title" v-locale="localeKey + '.navbar_title'"></h3>
            <span style="margin-left: 5px;"><h5>v{{version}}</h5></span>

            <span flex style="flex: 1"></span>

            <span>
                <md-field>
                    <label v-locale="localeKey + '.server_address'"></label>
                    <md-select v-model="serverAddress" :md-disabled="true">
                        <md-option :value="serverAddress">{{serverAddress}}</md-option>
                    </md-select>
                </md-field>
            </span>
        </md-app-toolbar>
        
        
        <md-app-drawer :md-active="menuVisible" md-persistent="mini" :class="{'minimized': menuMinimized}">
            <main-menu :menu-visible.sync="menuVisible" :menu-minimized.sync="menuMinimized"></main-menu>
        </md-app-drawer>

        <md-app-content>
            <md-progress-bar class="md-accent" md-mode="indeterminate" v-if="loading" style="margin-top: 100px;"></md-progress-bar>

            <router-view></router-view>
        </md-app-content>
    </md-app>
</div>
