[Unit]
Description=Geesome Docker Service
Requires=docker.service
After=docker.service

[Service]
Environment=STORAGE_STAGING=/root/geesome-node/.docker-data/ipfs-staging
Environment=STORAGE_DATA=/root/geesome-node/.docker-data/ipfs
Environment=GEESOME_DATA=/root/geesome-node/.docker-data/geesome_data
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/root/geesome-node
ExecStart=/usr/local/bin/docker-compose up -d
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target